p {
    font-family: arial;
}


/* CSS For Button */
.DropButton {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin-right: 20px;
}


.DropDown {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.Dropdown-Content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.Dropdown-Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Dropdown-Content a:hover {background-color: #f1f1f1}

.DropDown:hover .Dropdown-Content {
    display: block;
}

.DropDown:hover .DropButton {
    background-color: #3e8e41;
}
